<section>
  <div class="jumbotron text-left">
    <div class="row">
      <div class="col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-6 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive text-left" src="/modules/core/client/img/brand/logo.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Your simple, safe and fast memory companian!
      </p>
    </div>
    <!--div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="http://meanjs.org" target="_blank">Learn more</a>
      </p>
    </div-->
  </div>
  <div>
    <h2>Welcome to your simple, safe and fast external memory companian</h2>
    <p>This is where you'd lose your important, frequent-access and confidential data so you can get tagd! to help find whenever, wherever you need!</p>
    <p>Click <a href="/authentication/signup">Sign Up</a> to get started</p>
  </div>
  <br>Enjoy!
  <br>The tagd! Team.
</section>
