<!-- The tag view -->
<section class="container">
  <div class="page-header">
    <h1>Tag</h1>
  </div>
  <!-- The message form -->
  <form class="col-xs-12 col-md-offset-4 col-md-4" ng-submit="vm.sendMessage();">
    <fieldset class="row">
      <div class="input-group">
        <input type="text" id="messageText" name="messageText" class="form-control" ng-model="vm.messageText" placeholder="What to tag?" autofocus>
        </div>
      <div class="input-group">
        <input type="text" id="tagText" name="tagText" class="form-control" ng-model="vm.tagText" placeholder="What are the tags?" autofocus>
      </div>
      <div class="input-group">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary" ng-disabled="!vm.messageText.length">Go</button>
        </span>
      </div>
    </fieldset>
  </form>
</section>
